.nav-bar {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    background-color: #2b2b2b;
    margin: -12px;
    align-items: center;
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 10px;
    gap: 25px;
    color: #ffffff;
    cursor: pointer;
    margin-right: 35px;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

